<div class="jumbotron">
    <h2>Realtime fro CloudParty!</h2>
    <p>

        <button google-signin client-id='{{ googleId }}' after-signin="signinCallback(oauth)"></button>
    </p>
    <p class="lead" ng-show="identityId">
        il tuo id <i>{{ identityId }}</i>
    </p>
</div>

<div class="row">

    <div class="col-lg-6">
        <h2>Beers available:</h2>
        <div ng-repeat="beer in myBeers">
            <div class="panel" ng-class="{'panel-success': beer.starred, 'panel-danger': !beer.starred}">
              <div class="panel-heading">
                <h3>{{ beer.name }}</h3>
                <p class="lead">
                  {{ beer.price | currency }}
                  <button class="pull-right btn btn-default"  ng-click="star($index)" ng-show="!beer.starred">Click to STAR</button>
                  <button class="pull-right btn btn-default"  ng-click="unStar($index)" ng-show="beer.starred">Click to UNSTAR</button>
                </p>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>Beers available:</h2>
        <div ng-repeat="beer in remoteBeers track by $index">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3>{{ beer.name }}</h3>
                <p class="lead">
                  {{ beer.price | currency }}
                  <button class="pull-right btn btn-danger"  ng-click="unstar(beer)">Unstar</button>
                </p>
              </div>
            </div>
        </div>
    </div>


</div>
